<h1>Welcome to my page</h1>

<h2>My email address is: <%= @user.email %></h2>

<h3>Below are my to-do items:</h3>

  <div id="items-list">
    <%= render @user.items %>
  </div>

<% if current_user %>
  <%= render 'items/form', item: Item.new, user: @user %>
<% end %>
